body{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("pattern.png");
	font-family: 'Titillium Web', sans-serif;
	font-size:20px;
	letter-spacing:1px;
	display:grid;
}

header{
	margin-left:auto;
	margin-right:auto;
}
#hship{
	width:950px;


}

nav{
	background-color:#2372a0;
	color:white;
	width:950px;
	line-height:140%;
	margin:0 auto;
	padding-top:4px;
	padding-bottom:4px;
	height:30px;
	font-size:22px;
	position: sticky;
	top:0;
	bottom:0;
	text-align:center;

	}
	
ol {
	display:flex;
	justify-content:flex-end;
	margin:auto;
	}
	
ol>li{

	padding-right:17px;
	padding-left:17px;
	list-style-type:none;
	border-left:2px dotted white;
	}
	
ol>li:hover{
	color:#4286f4;
	background-color:#162f59;
	cursor:pointer;
	}
	
ol>li:hover>ul{
display:block;
}

ol>li>ul{
	color:white;
	list-style-type:none;
	display:none;
	margin:0;
	padding:0;
	text-align:center;
	height:0;
	
	}

ol>li>ul>li{
	border-top: 1px dotted white;
	background-color:#2372a0;
	color:white;	
	padding:2px;
	}

ol>li>ul>li:hover{
	background-color:#162f59;
	color:#4286f4;
	}	
	
main{
	width:900px;
	min-height:500px;
	margin:auto;
	background-color:#fff;
	text-align:center;
	padding-top:1px;
	margin-bottom:45px;
	padding-left:25px;
	padding-right:25px;
	}
#hmain{
	color:#162f59;
	text-align:center;
	letter-spacing:2px;
}

footer{
	width:950px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:23px;
	color:white;
	background-color:#2372a0;
}
#table1{
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	width:55%;
}
td{
	border:2px solid black;
	
}
td:hover{
	transform:scale(1.1);
}

th, td{
	padding:15px;
	text-align:center;
	transition:padding 2s;
}
td{
	background:linear-gradient(top, #d7dae0 0%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #d7dae0 0%, #ffffff 100%);
	
	
}

td:hover{
	cursor:pointer;
	background:#c6cad0;;
}
.reset:hover{
	cursor:pointer;
	color:#2caa36;
}